/* ================================= */
/* ========== MAIN ================= */
/* ================================= */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    position: relative;
}

/* El contenido principal debe expandirse para empujar el footer hacia abajo */
body >*:not(footer) {
    flex: 1 0 auto;
}
 
/* ==================== CARRUSEL ==================== */
.carrusel {
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.mi-carrusel img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Hace que la imagen se recorte y se vea bien sin distorsión */
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slide.active {
    opacity: 1;
    z-index: 1;
}

/* ==================== CONTENIDO PRINCIPAL BIENVENIDA ==================== */
.info-section {
    width: 100%;
    padding: 0;
    background: #f9f9f9;
    text-align: center;
    margin-bottom: 50px;
}

.bienvenida h2 {
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    margin-top: 50px;
}

.bienvenida p {
    font-style: italic;
    padding-top: -10px;
    font-size: var(--font-size-lg);
    margin-bottom: 6px;
}

/* ==================== CONTENIDO SECUNDARIO CONTEXTO ==================== */
.info-complement {
    width: 35%;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 50px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.contexto {
  margin-left: 15px;
  padding-left: 35px;
}
.contexto p {
    text-align:left;
    margin-bottom: 10px; 
    font-size: var(--font-size-lg);          /* Espacio entre párrafos */
}

/* ==================== CONTEXTO ILUSTRACIÓN ==================== */
.contexto-ilustracion {
 display: flex;
 margin-bottom: auto; /* Espacio inferior */
}

.contexto-imagen {
    display: flex;                    /* Flex para alinear imágenes */
    justify-content:flex-end;
    flex-direction: column;
    align-items:baseline;             /* Centrado vertical */
    margin-left: auto;  
    margin-top: -490px;          /* Espacio inferior */
    gap: 20px; 
                          /* Espacio entre imágenes */             
}

.contexto-imagen img {
    width: 250px;                    /* Ancho fijo de la imagen */
    height: auto;                    /* Mantiene la proporción de la imagen */
    box-shadow: var(--shadow);       /* Sombra global definida */
}
