
/* Estado activo: restaura hover permanentemente */
.nav-principal a.active {
  color: var(--color-primary);            /* mismo color que en hover */
}


.nav-principal a.active::before,
.nav-principal a.active::after {
  transform: scaleX(1);                  /* líneas expandidas como en hover */

}
/* ============================= */
/* Estilos específicos de Seguimiento de Pedidos */
/* ============================= */
#seguimiento-pedidos h2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
  color: var(--color-primary);
}

/* Ajuste de altura de botones en tabla */
#seguimiento-pedidos .table .btn {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.4rem;
}

/* Iconos centrados */
#seguimiento-pedidos .btn i {
  font-size: 1.1rem;
}

/* Modales: sección de imagen */
#seguimiento-pedidos .modal-body img {
  max-height: 60vh;
  object-fit: contain;
}

#seguimiento-pedidos {
  margin-bottom: 3rem; /* O ajusta según el espaciado que quieras */
}
.seguimiento-pedidos {
  margin-top: 8rem; /* O ajusta según el espaciado que quieras */
}

div h5{
  color: var(--color-primary);
}

.img-fluid{
  width: 100%;
  height: 300px;

}


