

  /* PERSONALIZADOR DE JOYAS */

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 1200pc;
    margin: 0 auto;
    padding-top: 100px;
    gap: 60px;
  }

  #vista-principal {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 4px;
  background-color: #fff;
}

.container-opciones {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  

}



  
